# Cube.js Configuration
CUBEJS_DB_TYPE=postgres
CUBEJS_DB_HOST=localhost
CUBEJS_DB_NAME=metricmind
CUBEJS_DB_USER=metricmind
CUBEJS_DB_PASS=metricmind
CUBEJS_DB_PORT=5433
CUBEJS_WEB_SOCKETS=true
CUBEJS_DEV_MODE=true
CUBEJS_API_SECRET=your_secret_here
